header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #5c0d0d;
    color: #b9C6ae;
  }
  
  h1 {
    font-size:200%;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

  nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  }

  nav a:hover {
    color: #fff;
  }